@dark-bg-color: #1b1b1b;

.sider {
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  :global {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }
  }
}

.logo {
  height: 64px;
  padding: 16px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #f0f0f0;
  
  a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
}

.headerRight {
  padding-right: 24px;
  display: flex;
  align-items: center;
}

.dark {
  .logo {
    border-bottom-color: @dark-bg-color;
  }
  :global {
    .ant-layout {
      background: @dark-bg-color !important;
    }
  }
}

.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.userInfo {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

